.a{
    background-color: rgb(23, 61, 45);
}
h1{
    width: 350px;
    height: 40px;
    background-color: rgb(80, 21, 21);
    color: #f8f7f7;
    text-align: center;
    margin-left: 600px;
    
}
div{
    width: 800px;
    height: 300px;
    background-color: black;
    border: 4px solid red;
    margin-left: 350px;
}
p{
    background-color: aqua;
    text-align: center;
    width: 700px;
    height: 100px;
    margin-left: 40px;
    margin-top: 30px;
}